<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/st1.css">
</head>
<body>
<div id="header">
		<div id="title2">員工管理系統</div>
</div>
<div id="navigater"></div>
<div id="content">
		<div id="alignform">
				<table width=40%>
						<tr>
							<td colspan="2" align=center>
							<h3>登入失敗請重新登入</h3>
						<tr>
							
							<td align=center><a href="/employee">重新登入</a>
						
					
					</table>
		</div>
</div>
<div id="footer"></div>
</body>
</html>